apiVersion: v1

kind: Secret
metadata:
  name: secrets
  namespace: default

type: Opaque

data:
  app_name: TVVN
  app_env: bG9jYWw=
  app_debug: dHJ1ZQ==
  app_url: aHR0cDovL2xvY2FsaG9zdA==
  timezone: RXVyb3BlL0Jlcmxpbg==
  log_channel: c3RhY2s=
  db_connection: bXlzcWw=
  db_host: MTI3LjAuMC4x
  db_port: MzMwNg==
  db_database: aG9tZXN0ZWFk
  db_username: aG9tZXN0ZWFk
  db_password: c2VjcmV0
  broadcast_driver: bG9n
  cache_driver: ZmlsZQ==
  session_driver: ZmlsZQ==
  session_lifetime: MTIw
  queue_driver: c3luYw==
  mail_driver: c210cA==
  mail_port: NTg3
  smtp_hostname: c210cC5leGFtcGxlLmNvbQ==
  smtp_port: NTg3
  smtp_ssl: U1RBUlRUTFM=
  imap_hostname: aW1hcC5leGFtcGxlLmNvbQ==
  imap_port: OTkz
  imap_ssl: U1NML1RMUw==
  pop3_hostname: cG9wMy5leGFtcGxlLmNvbQ==
  pop3_port: OTk1
  pop3_ssl: U1NML1RMUw==
  
  
