apiVersion: v1
kind: Secret
metadata:
  name: mum-secret
  namespace: default
type: Opaque
data:
  app-key: ""                       # Change this value!
  smtp-password: ""                 # Change this value!

---

apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: default
type: Opaque
data:
  mariadb-root-password: ""         # Change this value!
  mariadb-replication-password: ""  # Change this value!
  mariadb-password: ""              # Change this value!